name: benchmarks

on:
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  comparison-benchmarks:
    name: "Comparison Benchmarks"
    runs-on: "ubuntu-latest"
    env:
      GOMAXPROCS: 4
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
        with:
          go-version: "stable"
      - run: go install golang.org/x/perf/cmd/benchstat@latest
      - run: make bench
      - run: make bench
        working-directory: ./benchmarks
      - run: benchstat Hash HashNano HashMicro Hasher
        working-directory: ./out
      - run: benchstat rapidhash wyhash xxh64
        working-directory: ./benchmarks/out

  comparable-benchmarks:
    name: "Comparable Benchmarks"
    runs-on: "ubuntu-latest"
    env:
      GOMAXPROCS: 4
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
        with:
          go-version: "stable"
      - run: go install golang.org/x/perf/cmd/benchstat@latest
      - run: make bench-comparable
        working-directory: ./benchmarks
      - run: benchstat rapidhash.HashComparable maphash.Comparable
        working-directory: ./benchmarks/out
